body {
    margin: 0;
    padding: 0;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
} 

header{
    background-image: url("bg_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
    color: white;
}

#header-title{
    font-size: 65px;
    font-weight: 400;
    padding-top: 46px;
    padding-left: 46px;
    margin-bottom: 0;
}

#header-description{
    font-size: 35px;
    font-weight: 400;
    padding-left: 46px;
    margin-top: 10px;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 45px 50px 0 50px;
    padding-bottom: 70px;
    border-bottom: 1px solid #8B8B8B;
}

.item-emoji{
    font-size: 90px;
}

.item-info{
    flex-grow: 1;
}

.item-name{
    font-size: 35px;
    font-weight: 400;
}

.item-ingredients{
    font-size: 20px;
    color: #8B8B8B;
}

.item-price{
    font-size: 25px;
}

.add-btn{
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    background-color: inherit;
    color: #3c3c3c;
    width: 70px;
    height: 70px;
    font-family: "Inter", system-ui;
    font-size: 32px;
    font-weight: 200;
}