body {
    margin: 0;
    padding: 0;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
} 

h1{
    font-weight: 400;
}

h2{
    font-size: 1.4rem;
    font-weight: 400;
}

h3{
    font-size: 1.75rem;
    font-weight: 400;
    margin: 0;
}

p{
    margin: 5px 0;
}

ul{
    list-style: none;
    margin: 0;
}

button{
    cursor: pointer;
}

header{
    background-image: url("bg_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 167px;
    color: white;
}

main{
    margin: 2.85rem;
}

#header-title{
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    margin-bottom: 0;
    font-size: 2.5rem;
}

#header-description{
    padding-left: 2.5rem;
    margin-top: 10px;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding: 0 0 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #D2D2D2;
}

.item-emoji{
    font-size: 5rem;
}

.item-info{
    flex-grow: 1;
}

.item-ingredients{
    font-size: 1rem;
    color: #8B8B8B;
    padding: 5px 0;
}

.price{
    font-size: 1.25rem;
}

.add-btn{
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    background-color: inherit;
    color: #3c3c3c;
    width: 50px;
    height: 50px;
    font-family: "Inter", system-ui;
    font-size: 2rem;
    font-weight: 200;
}

#summary-title{
    text-align: center;
    margin: 30px 0;
}

#summary-item-list{
    border-bottom: 2px solid black;
    padding: 0;
}

.summary-item, #summary-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.remove-btn-container{
    flex-grow: 1;
}

.remove-btn{
    border: none;
    background-color: inherit;
    color: #BBBBBB;
}

.submit-btn{
    background-color: #16DB99;
    border: none;
    width: 100%;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 20px;
    margin-top: 30px;
}

#success-message{
    margin: 45px 0;
    text-align: center;
    font-size: 2rem;
    padding: 40px 10px;
    background-color: #ECFDF5;
    color: #065F46;
}

/* Modal */

.modal{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-inner{
    text-align: center;
    width: 70%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-inner h1{
    font-size: 2rem;
}

.card-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
}

.payment-input{
    padding: 13px;
    font-size: 1.1rem;
}

.hidden{
    display: none;
}

@media(min-width: 1024px){
    body{
        background-color: #fff9f1;
    }
    .container{
        background-color: white;
        max-width: 900px;
        margin: 0 auto;
        border: 1px solid #00000033;
        box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    }
    header h1 {
        margin-top: 0;
    }

}