body {
    margin: 0;
    padding: 0;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
} 

h1{
    font-weight: 400;
}

h2{
    font-size: 2.3em;
    font-weight: 400;
}

h3{
    font-size: 2em;
    font-weight: 400;
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
}

button{
    cursor: pointer;
}

header{
    background-image: url("bg_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
    color: white;
}

main{
    margin: 50px;
}

#header-title{
    padding-top: 46px;
    padding-left: 46px;
    margin-bottom: 0;
    font-size: 4em;
}

#header-description{
    padding-left: 46px;
    margin-top: 10px;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid #D2D2D2;
}

.item-emoji{
    font-size: 90px;
}

.item-info{
    flex-grow: 1;
}

.item-ingredients{
    font-size: 20px;
    color: #8B8B8B;
}

.price{
    font-size: 25px;
}

.add-btn{
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    background-color: inherit;
    color: #3c3c3c;
    width: 70px;
    height: 70px;
    font-family: "Inter", system-ui;
    font-size: 2em;
    font-weight: 200;
}

#summary-title{
    text-align: center;
}

#summary-item-list{
    border-bottom: 2px solid black;
    padding: 0;
}

.summary-item, #summary-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.remove-btn-container{
    flex-grow: 1;
}

.remove-btn{
    border: none;
    background-color: inherit;
    color: #BBBBBB;
}

.submit-btn{
    background-color: #16DB99;
    border: none;
    width: 100%;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    padding: 20px;
    margin-top: 30px;
}

#success-message{
    margin: 50px 0;
    text-align: center;
    font-size: 2em;
    padding: 20px;
    background-color: #ECFDF5;
    color: #065F46;
}

/* Modal */

.modal{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-inner{
    text-align: center;
    width: 70%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-inner h1{
    font-size: 2.5em;
}

.card-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.payment-input{
    padding: 10px;
}

.hidden{
    display: none;
}